/*mixin neumophique_btn*/

// logo
@mixin brand {
  width: 18rem;
  display: flex;
  justify-content: center;
  object-fit: contain;
  object-position: center;
  height: 100%;
  background: #EEF0F4;
  border-radius: 20rem;
  box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
}

// neumorphism
@mixin neumorphic__btn {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(145deg, #fff, #c1c3c6);
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #fff;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

// lignes bouton navigation 
@mixin lines {
  background-color: $blue_color;
  box-shadow: 0px 0px 10px 0px rgba(132, 220, 255, 0.98);
  width: 35px;
  height: 4px;
  border-radius: 4px;
  margin: 3px 0px 3px 0px;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
    transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

// neumorphism activ
@mixin neumorphic__btn__active {
  box-shadow: inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #fff;
}

// media queries
@mixin tablette {
  @media screen and (min-width: map-get($tablette-breakpoints, tablette-min)) {
    @content;
  }
}