// header
header {
  max-width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #fff;
}

// logo
.brand {
  &__link {
    width: 50%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include tablette {
      width: 30%;
    }

    @include big-desktop {
      justify-content: center;
    }
  }

  &__logo {
    @include brand;
  }
}

// container du bouton de navigation
.hamburger__container {
  width: 50%;
  height: auto;
  padding: 5px 15px 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include tablette {
    display: none;
  }
}

// navigation
.nav {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 210px;
  border-radius: 50px 0px 0px 50px;
  background: #f9f9f9;
  box-shadow: -20px 20px 60px #e3e3e3,
    20px -20px 60px #fff;
  z-index: 1000;
  // overflow: hidden;
  // transform: translateX(100%);
  // transition: all 1s ease-in-out;

  @include tablette {
    right: 15px;
    display: flex;
    width: 640px;
    box-shadow: none;
    border-radius: none;
    height: 17rem;
    align-items: center;
    overflow: none;
  }

  @include desktop {
    width: 800px;
  }

  @include big-desktop {
    width: 1000px;
  }

  >ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5rem;

    @include tablette {
      justify-content: center;
      flex-direction: row;
      margin-top: -10px;
    }

    >li {
      width: 100%;
      height: 10%;
      display: flex;
      margin-bottom: 15px;
    }
  }

  &__paragraph-menu {
    font-size: 1.6rem;
    width: 50%;
    justify-content: flex-start;
    margin-left: 15px;

    @include tablette {
      display: none;
    }
  }
}

// lien contenu par chaque li de la navigation
.nav__list-menu {
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 5px;
  padding: 10px;
  align-items: center;

}

// class ajouter par toggle js pour ouverture/fermeture nav
.slide {
  display: flex;
  position: fixed;
  // transform: translateX(0);
  // transition: all 1s ease-in-out;
}