//comportement call to action vert et orange

.container__action-btn {
  @include action__container;
  margin-top: 5px;


  @include desktop {
    width: 245px;
  }

  @include big-desktop {
    width: 245px;
  }

  &:hover {
    .action__icon {
      animation: hi 1s ease;
    }

    .action__btn {
      text-decoration: underline;
    }
  }
}

.action__btn {
  @include action__btn;
}

.action__icon {
  @include action__icon;
}

.download__btn-container {
  // background: red;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 15px;

}

.download {
  padding: 18px;
  border-radius: 100%;
  /* margin: 10px 0; */
}