// gestion bouton dans navigation

.icon__container {
  @include neumorphic__btn;
  display: flex;
  padding: 10px;
  width: 50px;
  height: 50px;
  justify-content: center;

  @include tablette {
    width: 60px;
    height: 60px;
  }

  >i {
    padding: 5px;
    font-size: 1.7rem;
    color: $blue_color;

    @include tablette {
      font-size: 1.9rem;
    }
  }
}

.nav__list-menu {
  @include tablette {
    flex-direction: column;
  }

  &:hover {
    .tooltip {
      top: -15px;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      box-shadow: 3px -1px 5px rgba(0, 0, 0, 0.2);
    }

    .accueil__menu,
    .profil__menu,
    .parcours__menu,
    .portfolio__menu,
    .contact__menu,
    .github__menu,
    .linkedin__menu {
      font-weight: bold;
      color: #000;
    }

    .icon__container {
      @include neumorphic__btn__active;
      background: $pink_color;
      transition: all 0.3s cubic-bezier(0.79, 0.21, 0.06, 0.81);

      >i {
        color: $primary-color;
        transform: scale(1.1);
        border-radius: 100%;
        border: 5px solid $primary-color;
        transition: transform 0.5s ease;
      }
    }

    .icon__container,
    .nav__paragraph-menu {
      transform: translateX(-15px);
      transition: transform 0.2s ease-out;
      font-weight: 700;

      @include tablette {
        transform: scale(1.1);
        transition: scale 0.2 ease-out;
      }
    }
  }
}

.github {
  @include desktop {
    margin: 0 20px 0 15px !important;
  }

  @include big-desktop {
    margin: 0 50px 0 30px !important;
  }
}